<html>
  <head>
    <title>Vue Sample</title>
    <style type="text/css">
      [v-clock] {display: none}
      .demo {
        width: 100px;
        height: 100px;
        background-color:grey;
        display:inline-block;
        margin: 10px;
      }
      .red {
        background-color: red;
      }
      .green {
        background-color: green;
      }
      .blue {
        background-color: blue;
      }
      .pink {
        background-color: pink;
      }
    </style>
  </head>
  <body>
    <div id="app" v-clock>
      <p>count : {{count}}</p>
      <p>second count : {{secondCount}}</p>
      <p>computed : {{double}}</p>
      <p>methods1 : {{triple()}}</p>
      <p>methods2 : {{onePlus()}}</p>
      <button @click="count++">Click</button>
      <button @click="secondCount++">secondClick</button>
    </div>
    <hr>
    <div id="input">
      <input type="text" v-model="name">{{name}}
    </div>
    <hr>
    <div id="if">
      <p v-if="dog">반려동물은 강아지지!</p>
      <p v-else>무슨소리, 고양이지!</p>
      <button @click="dog = !dog">반대</button>
      <template v-if="dog">
        <p>강아지는귀여워</p>
        <p>강아지는귀여워</p>
      </template>
      <template v-else>
        <p>고양이는귀여워</p>
        <p>고양이는귀여워</p>
      </template>
      <p v-show="dog">고양이도귀여워?</p>
      <p v-show="!dog">강아지도귀여워?</p>
    </div>
    <hr>
    <div id="for">
      <h1>장 볼 리스트</h1>
      <ul>
        <li v-for="(item, i) in list">{{item}}({{i+1}})</li>
      </ul>
    </div>
    <hr>
    <div id="list">
      <ul>
        <li v-for="item in travelList">{{item.name}}({{item.distance}})</li>
      </ul>
    </div>
    <hr>
    <div id="demo">
      <div class="demo" @click="attachRed = !attachRed" :class="{red:attachRed, green:!attachRed}">1</div>
      <div class="demo" :class="color">2</div>
      <div class="demo" :class="divClasses">3</div>
      <div>
        2번 상자의 색:<input type="text" v-model="color">
      </div>
    </div>
    <hr>
    <div id="demo1">
      <div class="demo" @click="attachRed = !attachRed" :class="{red:attachRed,green:!attachRed}"></div>
      <div class="demo" :class="color" :style="{height: myHeight}">2</div>
      <div class="demo" :class="divClasses">3</div>
      <div>
        2번 상자의 색:<input type="text" v-model="color">
      </div>
    </div>
    <hr>
    <div id="hello">
      <hello></hello>
      <hello></hello>
      <hello></hello>
    </div>

  </body>
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  <script type="text/javascript" src="js/test.js"></script>
</html>
